<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto site</title>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'coins\css\materialize.css' %}">
    <link rel="stylesheet" href="{% static 'coins/css/style.css' %}">
</head>
{% endblock %}
<body>

    {% block nav %}
    <div class="container">
        <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Logo</a>
            </div>
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                  <li class="tab"><a class="active" href="\">Home</a></li>
                <li class="tab"><a href="{% url 'news' %}">Crypto News</a></li>
                <li class="tab"><a href="{% url 'exchanges' %}">Exchanges</a></li>
              </ul>
            </div>
        </nav>
    </div>
    {% endblock %}

    {% block search %}
    <div class="flex-row-reverse">
        <form id="coin-form" method="GET">
            <input id="search-input" name="coin-search" placeholder="Search coin...">
        </form>
    </div>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="section-1">
            <table class="main-table responsive-table striped">
                <thead class="table-head">
                    <tr class="table-row">
                        <td id="coin-number">#</td>
                        <td id="coin-name-sym">Coins</td>
                        <td id="market-cap">Market Cap</td>
                        <td id="price">Price</td>
                        <td id="volume">Volume(24hr)</td>
                        <td id="1hr">1hr</td>
                        <td id="24hr">24hr</td>
                    </tr>
                </thead>
                        <!--- PAGE 1 -->
            <tbody id="table1">
            {% for sym in symbol|slice:"0:10" %}
                <tr id="coin-row" class="blue-grey darken-{% cycle '3' '4' %}">
                    <td id="coin-rank" >{{sym.rank}}</td>
                    <td id="coin-id">
                {% for coin_data in coins_data %}
                    <!-- show coin image -->
                    {% if sym.symbol == coin_data.symbol or sym.name == coin_data.name %}
                        <img id="coin-img" style="float:left;padding-right:15px;" src="{{coin_data.image.url}}">
                    {% endif %}
                {% endfor %}
                    <a id="coin-url" href="{% url 'coin_info' coin=sym.name %}">
                        <span id="coin-name">{{sym.name}}</span>
                    <br>
                        <span id="coin-sym">{{sym.symbol}}</span>
                    </a>
                    </td>
                    <td id="coin-marketcap"></td>
                    <td id="coin-price"></td>
                    <td id="coin-vol"></td>
                    {% if '-' in sym.percent_change_1h %}
                        <td id="coin-hr" style="color:red;">{{sym.percent_change_1h}}%</td>
                    {% else %}
                        <td id="coin-hr" style="color:green;">{{sym.percent_change_1h}}%</td>
                    {% endif %}
                    <td id="coin-day"></td>
                </tr>
            {% endfor %}
            </tbody>
                        <!--- PAGE 2 -->
            <tbody id="table2">
            {% for sym in symbol|slice:"10:20" %}
                <tr id="coin-row" class="blue-grey darken-{% cycle '3' '4' %}">
                    <td id="coin-rank" >{{sym.rank}}</td>
                    <td id="coin-id">
                {% for coin_data in coins_data %}
                    <!-- show coin image -->
                    {% if sym.symbol == coin_data.symbol or sym.name == coin_data.name %}
                        <img id="coin-img" style="float:left;padding-right:15px;" src="{{coin_data.image.url}}">
                    {% endif %}
                {% endfor %}
                    <a id="coin-url" href="{% url 'coin_info' coin=sym.name %}">
                        <span id="coin-name">{{sym.name}}</span>
                    <br>
                        <span id="coin-sym">{{sym.symbol}}</span>
                    </a>
                    </td>
                    <td id="coin-marketcap"></td>
                    <td id="coin-price"></td>
                    <td id="coin-vol"></td>
                    {% if '-' in sym.percent_change_1h %}
                        <td id="coin-hr" style="color:red;">{{sym.percent_change_1h}}%</td>
                    {% else %}
                        <td id="coin-hr" style="color:green;">{{sym.percent_change_1h}}%</td>
                    {% endif %}
                    <td id="coin-day"></td>
                </tr>
            {% endfor %}
            </tbody>

                        <!--- PAGE 3 -->
            <tbody id="table3">
            {% for sym in symbol|slice:"20:30" %}
                <tr id="coin-row" class="blue-grey darken-{% cycle '3' '4' %}">
                    <td id="coin-rank" >{{sym.rank}}</td>
                    <td id="coin-id">
                {% for coin_data in coins_data %}
                    <!-- show coin image -->
                    {% if sym.symbol == coin_data.symbol or sym.name == coin_data.name %}
                        <img id="coin-img" style="float:left;padding-right:15px;" src="{{coin_data.image.url}}">
                    {% endif %}
                {% endfor %}
                    <a id="coin-url" href="{% url 'coin_info' coin=sym.name %}">
                        <span id="coin-name">{{sym.name}}</span>
                    <br>
                        <span id="coin-sym">{{sym.symbol}}</span>
                    </a>
                    </td>
                    <td id="coin-marketcap"></td>
                    <td id="coin-price"></td>
                    <td id="coin-vol"></td>
                    {% if '-' in sym.percent_change_1h %}
                        <td id="coin-hr" style="color:red;">{{sym.percent_change_1h}}%</td>
                    {% else %}
                        <td id="coin-hr" style="color:green;">{{sym.percent_change_1h}}%</td>
                    {% endif %}
                    <td id="coin-day"></td>
                </tr>
            {% endfor %}
            </tbody>

                        <!--- PAGE 4 -->
            <tbody id="table4">
            {% for sym in symbol|slice:"30:40" %}
                <tr id="coin-row" class="blue-grey darken-{% cycle '3' '4' %}">
                    <td id="coin-rank" >{{sym.rank}}</td>
                    <td id="coin-id">
                {% for coin_data in coins_data %}
                    <!-- show coin image -->
                    {% if sym.symbol == coin_data.symbol or sym.name == coin_data.name %}
                        <img id="coin-img" style="float:left;padding-right:15px;" src="{{coin_data.image.url}}">
                    {% endif %}
                {% endfor %}
                    <a id="coin-url" href="{% url 'coin_info' coin=sym.name %}">
                        <span id="coin-name">{{sym.name}}</span>
                    <br>
                        <span id="coin-sym">{{sym.symbol}}</span>
                    </a>
                    </td>
                    <td id="coin-marketcap"></td>
                    <td id="coin-price"></td>
                    <td id="coin-vol"></td>
                    {% if '-' in sym.percent_change_1h %}
                        <td id="coin-hr" style="color:red;">{{sym.percent_change_1h}}%</td>
                    {% else %}
                        <td id="coin-hr" style="color:green;">{{sym.percent_change_1h}}%</td>
                    {% endif %}
                    <td id="coin-day"></td>
                </tr>
            {% endfor %}
            </tbody>

                        <!--- PAGE 5 -->
            <tbody id="table5">
            {% for sym in symbol|slice:"40:50" %}
                <tr id="coin-row" class="blue-grey darken-{% cycle '3' '4' %}">
                    <td id="coin-rank" >{{sym.rank}}</td>
                    <td id="coin-id">
                {% for coin_data in coins_data %}
                    <!-- show coin image -->
                    {% if sym.symbol == coin_data.symbol or sym.name == coin_data.name %}
                        <img id="coin-img" style="float:left;padding-right:15px;" src="{{coin_data.image.url}}">
                    {% endif %}
                {% endfor %}
                    <a id="coin-url" href="{% url 'coin_info' coin=sym.name %}">
                        <span id="coin-name">{{sym.name}}</span>
                    <br>
                        <span id="coin-sym">{{sym.symbol}}</span>
                    </a>
                    </td>
                    <td id="coin-marketcap"></td>
                    <td id="coin-price"></td>
                    <td id="coin-vol"></td>
                    {% if '-' in sym.percent_change_1h %}
                        <td id="coin-hr" style="color:red;">{{sym.percent_change_1h}}%</td>
                    {% else %}
                        <td id="coin-hr" style="color:green;">{{sym.percent_change_1h}}%</td>
                    {% endif %}
                    <td id="coin-day"></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endblock %}


    {% block pagination %}
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
        <li id="pg1" class="active-tab"><a onclick="showPage1()">1</a></li>
        <li id="pg2" class="waves-effect"><a onclick="showPage2()">2</a></li>
        <li id="pg3" class="waves-effect"><a onclick="showPage3()">3</a></li>
        <li id="pg4" class="waves-effect"><a onclick="showPage4()">4</a></li>
        <li id="pg5" class="waves-effect"><a onclick="showPage5()">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
    </ul>
    {% endblock %}

    {% block footer %}
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
    {% endblock %}

    {% block js %}
        <script src="{% static 'coins\js\pages.js' %}"></script>
        <script src="{% static 'coins\js\data.js' %}"></script>
        <script src="{% static 'coins\js\search.js' %}"></script>
    {% endblock %}
</body>

</html>
